@media screen and (max-width: 1200px) {
    html {
        body {
            .contenedor {
                .header {
                    .contenedor-logo {
                        .logo {
                            span {
                                display: none;
                            }
                        }
                    }

                    .barra-busqueda {
                        input {
                            min-width: 90%;
                        }
                    }
                }

                .main {
                    .grid-videos {
                        grid-template-columns: repeat(3, 1fr);
                    }

                }
            }
        }
    }
}