//Fuente:
$Open-sans: 'Open Sans', sans-serif;
$Oswald: 'Oswald', sans-serif;

//Colores:
$blanco: #fff;
$black: #000; 
$grey-light: #ccc;
$grey-dark: #414141;
$red-youtube: #ff0000;
$grey-2: #545454;